#stories {
  width: 50%;
  height: 100%;
  float: left;
  text-decoration-line: none;
  padding: 0;
  overflow-y: scroll;
  overflow-x: none;
  /* scroll on the left */
  direction: rtl;
}

#sep_slider {
  background-color: rgb(114, 100, 100);
  position: absolute;
  float: right;
  top: 0;
  left: 50%;
  border: thin solid rgb(196, 163, 163);
  width: 4px;
  height: 100%;
  cursor: w-resize;
  user-select: none;
}

.story {
  direction: ltr;
  border-bottom: thin solid #b3b3b3;
  padding: 5px 15px;
}

#search {
  border-bottom: thin solid #b3b3b3;
  padding: 5px 15px;
}

#searchfield {
  width: 100%;
}

.read {
  background: #ccc;
}

.selected {
  background: #ccc;
}

.story a {
  text-decoration-line: none;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 7pt;
}

.story h2 {
  margin: 0;
}

#stories a div {
  color: #828282;
  font-size: 6.9pt;
}

body,
html {
  background-color: rgb(246, 246, 239);
  min-height: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#content {
  width: 50%;
  float: left;
  height: 100%;
}

#frams {
  width: 100%;
  height: 100%;
  border: thin solid beige;
  border-left: thick solid black;
}

.btn {
  position: relative;
  float: right;
  top: -24px;
  border: thin solid black;
  cursor: pointer;
  padding: 2px;
  font-size: 13px;
  margin: 2px;
}

.read .read_btn {
  background: rgb(75, 74, 74);
  color: rgb(214, 213, 213);
}
