html,
body {
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, sans-serif;
}

@media (prefers-color-scheme: light) {
  body {
    --main-bg-color: rgb(246, 246, 239);
    --second-bg-color: #ccc;
    --highlight-bg-color: rgb(202, 202, 172);
    --border-color: #b3b3b3;
    --border-high-color: #b3b3b3;
    --btn-bg-color: none;
    --input-bg-color: white;
    --unread-bg-color: none;
    --read-bg-color: var(--second-bg-color);
    --text-high-color: black;
    --text-color: #828282;
    --opacity: 1;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --main-bg-color: #282a36;
    --second-bg-color: #383a59;
    --highlight-bg-color: #4050ac;
    --border-color: #282a36;
    --border-high-color: #282a36;
    --btn-bg-color: #383a59;
    --input-bg-color: var(--second-bg-color);
    --unread-bg-color: var(--second-bg-color);
    --read-bg-color: var(--main-bg-color);
    --text-high-color: #bcc2cd;
    --text-color: #828282;
    --opacity: 0.8;
    color: #bcc2cd;
  }
}

.dark {
  --main-bg-color: #282a36;
  --second-bg-color: #383a59;
  --highlight-bg-color: #4050ac;
  --border-color: #282a36;
  --border-high-color: #282a36;
  --btn-bg-color: #383a59;
  --input-bg-color: var(--second-bg-color);
  --unread-bg-color: var(--second-bg-color);
  --read-bg-color: var(--main-bg-color);
  --text-high-color: #bcc2cdc9;
  --text-color: #828282;
  --opacity: 0.8;
  color: #bcc2cd;
}

.light {
  --main-bg-color: rgb(246, 246, 239);
  --second-bg-color: #ccc;
  --highlight-bg-color: rgb(202, 202, 172);
  --border-color: #b3b3b3;
  --border-high-color: #b3b3b3;
  --btn-bg-color: none;
  --input-bg-color: white;
  --unread-bg-color: none;
  --read-bg-color: var(--second-bg-color);
  --text-high-color: black;
  --text-color: #828282;
  --opacity: 1;
  color: black;
}

input,
textarea {
  background: var(--input-bg-color);
  color: var(--text-high-color);
  border: thin solid black;
  border-radius: 2px;
}

#left_panel {
  width: 50%;
  min-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#stories_panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#menu {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 40px;
  margin-top: 5px;
}

#menu .sub {
  padding: 3px;
  border-top: thin solid var(--border-high-color);
  cursor: pointer;
  font-size: 13px;
}

#left_main {
  display: flex;
  flex-direction: column;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

  width: 100%;
}

#stories {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-decoration-line: none;
  padding: 0;
  /* scroll on the left */
  direction: rtl;
}

#stories div {
  direction: ltr;
}

#sep_slider {
  background-color: rgb(114, 100, 100);
  top: 0;
  left: 50%;
  border: thin solid rgb(196, 163, 163);
  width: 4px;
  height: 100%;
  cursor: w-resize;
  user-select: none;
  z-index: 15;
}

.bar {
  border-bottom: thin solid var(--border-high-color);
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
}

.bar input {
  width: 100%;
}

.filter_btn {
  order: 1;
}

.filter_btn input {
  position: relative;
  top: -4px;
  height: 16px;
  margin: 0 1px;
  order: 1;
}

.outline_btn {
  order: 2;
}

.star_btn {
  order: 3;
}

.read_btn {
  order: 4;
}

.selected {
  background: #e8b9b9;
}

.story {
  border-bottom: thin solid var(--border-color);
  padding: 5px 15px;
  display: flex;
}

.story {
  border-bottom: thin solid var(--border-color);
  background: var(--unread-bg-color);
  padding: 5px 15px;
  display: flex;
}

.read {
  background: var(--read-bg-color);
}

.story .title {
  display: inline;
  font-size: medium;
  font-size: 10.5pt;
  color: var(--text-high-color);
}

.story .hostname {
  display: inline;
  color: #828282;
  font-size: 6.9pt;
}

.story .data {
  width: 100%;
  color: #828282;
  font-size: 6.9pt;
  order: 0;
}

.story .info {
  margin: 5px 0;
}
.story .tag {
  margin: 0;
  display: inline-block;
  width: 20px;
  text-align: center;
  padding: 1px;
  border: thin solid white;
  opacity: var(--opacity);
}

.story a {
  text-decoration-line: none;
  color: var(--text-color);
}

#content {
  width: 50%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
}

#frams {
  width: 100%;
  height: 100%;
  border: none;
}

.btn {
  border: thin solid black;
  cursor: pointer;
  padding: 2px;
  font-size: 13px;
  margin: 2px;
  border-radius: 2px;
  background: var(--btn-bg-color);
}

.story .btn {
  height: 16px;
  white-space: nowrap;
}

.story .btn img {
  opacity: 0.6;
}

.bar_btn {
  padding: 3px;
  margin: 0;
  margin-left: 3px;
}

.bar_btn img {
  margin: 2px;
  margin-bottom: -1px;
}

#outline_webview_btn {
  margin-right: 3px;
}

#menu_btn {
  font-size: 14px;
  padding: 3px;
  margin: 0;
  margin-left: -13px;
  margin-right: 3px;
}

#foverlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 5;
  display: none;
  opacity: 0.5;
}

.filtered {
  display: none;
}

.show_filtered .filtered {
  display: flex;
}

#settings_panel {
  padding: 7px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* scroll on the left */
  direction: rtl;
  display: flex;
  flex-direction: column;
  display: none;
}

#settings_panel div {
  font-size: 13px;
  direction: ltr;
  padding: 15px 5px;
  border-bottom: thin solid var(--border-color);
}

#settings_panel textarea {
  display: block;
  width: 95%;
  min-height: 200px;
  margin-bottom: 2px;
}

#couch_input {
  display: block;
  width: 95%;
  margin-bottom: 2px;
}
