html,
body {
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  font-family: Verdana, Geneva, sans-serif;
  user-select: none;
}

.active_drag * {
  pointer-events: none !important;
}

#titlebar {
  -webkit-app-region: drag;
  user-select: none;
  width: 100%;
  height: 30px;
  padding: 5px;
  display: none;
  flex: 0;
  background-color: var(--sep-color);
}

#window_content {
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: row;
  display: flex;
  flex: 1;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  body {
    --main-bg-color: rgb(246, 246, 239);
    --second-bg-color: #ccc;
    --highlight-bg-color: rgb(202, 202, 172);
    --border-color: #b3b3b3;
    --border-high-color: #b3b3b3;
    --selected_bg_color: #b3b3b3;
    --sep-color: rgb(114, 100, 100);
    --btn-bg-color: none;
    --input-bg-color: white;
    --unread-bg-color: var(--main-bg-color);
    --read-bg-color: var(--second-bg-color);
    --text-high-color: black;
    --text-color: #828282;
    --opacity: 1;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --main-bg-color: #282a36;
    --second-bg-color: #383a59;
    --highlight-bg-color: #4050ac;
    --border-color: #282a36;
    --border-high-color: #373f6e;
    --selected_bg_color: #4a517be0;
    --sep-color: rgb(114, 100, 100);
    --btn-bg-color: #383a59;
    --input-bg-color: var(--second-bg-color);
    --unread-bg-color: var(--second-bg-color);
    --read-bg-color: var(--main-bg-color);
    --text-high-color: #bcc2cd;
    --text-color: #828282;
    --opacity: 0.8;
    color: #bcc2cd;
  }

  #menu .sub img {
    filter: contrast(0%);
  }
}

input,
textarea,
select,
option {
  background: var(--input-bg-color);
  color: var(--text-high-color);
  border: thin solid black;
  border-radius: 2px;
}

#left_panel {
  width: 100%;
  min-width: 450px;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: var(--main-bg-color);
  overflow: hidden;
}

#stories_panel {
  display: none;
  flex-direction: column;
  height: 100%;
}

#left_panel[active_panel="stories"] #stories_panel {
  display: flex;
}

#left_panel[active_panel="settings"] #settings_panel {
  display: flex;
}
/*
@keyframes roll_gadient {
  0% {
    content: url(../imgs/star_fill.svg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg) scale(0.2);
    content: url(../imgs/star_fill.svg);
  }
}*/

@keyframes roll_gadient {
  0% {
    background-position-x: -200px;
  }
  100% {
    background-position-x: 0;
  }
}

body[animated="true"] #left_panel .pseudo_active .bar {
  animation: roll_gadient 2s cubic-bezier(0, 0, 0.15, 0.99);
  background: radial-gradient(
    at 50% 223%,
    var(--highlight-bg-color),
    transparent
  );
}

body[animated="true"] #menu .heading:active {
  background: var(--highlight-bg-color);
}

body[animated="true"] #menu .btn:active {
  background: var(--highlight-bg-color);
  filter: saturate(40%) contrast(100%);
  border-color: var(--border-high-color);
}

#menu {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 0 0 89px;
  padding-top: 5px;
  border-right: 2px solid var(--sep-color);
  overflow: hidden;
}

#menu .sub {
  border-top: thin solid var(--border-high-color);
  cursor: pointer;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

#menu .heading {
  display: flex;
  padding: 5px;
}

#menu .heading p {
  padding-left: 3px;
  margin: 0;
}

#menu.collapse .heading p,
#menu.collapse .type,
#menu.collapse .group {
  display: none;
}

#menu.collapse {
  flex: 0 0 28px;
}

#left_main {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex: 1 1;
}

.stories_container {
  overflow-y: auto;
  overflow-x: hidden;
  text-decoration-line: none;
  padding: 0;
  flex-direction: column;
}

#stories {
  height: 100%;
}

#selected_container {
  overflow: inherit;
  border-bottom: 1px solid var(--sep-color);
  border-top: 1px solid var(--sep-color);
}

#global_search_results {
  display: none;
}

#filtered_stories {
  display: none;
}

#sep_slider {
  background-color: var(--sep-color);
  top: 0;
  left: 50%;
  border: thin solid rgb(196, 163, 163);
  width: 4px;
  height: 100%;
  cursor: w-resize;
  user-select: none;
  z-index: 15;
}

.bar {
  border-bottom: thin solid var(--border-high-color);
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
}

.bar .collapsebutton {
  margin-left: -17px;
  margin-right: 15px;
  border: thin solid var(--border-high-color);
  height: 20px;
}

#left_panel .bar {
  justify-content: space-between;
}

.bar input {
  width: 100%;
}

.filter_btn {
  order: 1;
}

.filter_btn input {
  position: relative;
  top: -4px;
  height: 16px;
  margin: 0 1px;
  order: 1;
}

.star_btn {
  order: 3;
}

.read_btn {
  order: 4;
}

.story {
  border-bottom: thin solid var(--border-color);
  border-top: thin solid var(--border-color);
  margin-top: -1px;
  background: var(--unread-bg-color);
  padding: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.bb_slide {
  width: 100%;
  display: flex;
}

.bb_slide .swipe_left {
  height: 100%;
  width: 100%;
  padding-left: 5px;
}

.bb_slide .swipe_left {
  height: 100%;
  width: 100%;
  padding-left: 5px;
}

.bb_slide .swipe_right {
  height: 100%;
  width: 100%;
  padding-right: 5px;
  text-align: right;
}

body[animated="true"] .story {
  transition: margin-left 0.6s cubic-bezier(0.25, 0.1, 0, 1.65);
}

body[animated="true"] .read_anim {
  margin-left: 100%;
}

body[animated="true"] .skipped_anim {
  margin-left: -100%;
}

body[animated="true"] .unread_anim {
  margin-left: -100%;
}

@keyframes death_spin {
  0% {
    content: url(../imgs/star_fill.svg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg) scale(0.2);
    content: url(../imgs/star_fill.svg);
  }
}

@keyframes bounce {
  0%,
  20%,
  40%,
  50%,
  70%,
  90%,
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
  30% {
    transform: translateY(-10px) rotate(5deg) scale(1.2);
  }
  60% {
    transform: translateY(-8px) rotate(-5deg) scale(1.2);
  }
  80% {
    transform: translateY(-12px) rotate(0deg) scale(1);
  }
}

@keyframes fillup {
  0% {
    clip-path: inset(100% 0% 0% 0%);
  }
  30% {
    clip-path: inset(100% 0% 0% 0%);
  }
  40% {
    clip-path: inset(65% 0% 0% 0%);
  }
  60% {
    clip-path: inset(65% 0% 0% 0%);
  }
  70% {
    clip-path: inset(40% 0% 0% 0%);
  }
  80% {
    clip-path: inset(35% 0% 0% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

.read_btn::after {
  content: url(../imgs/read.svg);
  display: block;
  opacity: 0.6;
}

.read:not(.skipped) .read_btn::after {
  content: url(../imgs/real_read.svg);
  display: block;
  opacity: 0.6;
}

.skipped .read_btn::after {
  content: url(../imgs/skipped_read.svg);
  display: block;
  opacity: 0.6;
}

.star_btn::after {
  content: url(../imgs/star.svg);
  display: block;
  opacity: 0.6;
}

.stared .star_btn::after {
  content: url(../imgs/star.svg);
  margin-top: -19px;
  display: block;
  opacity: 0.6;
}

body[animated="true"] .star_btn.user_interaction::after {
  animation: death_spin 0.9s cubic-bezier(0, 0, 0.15, 0.99);
}

body[animated="true"] .stared .user_interaction.star_btn::before {
  animation: bounce 1.2s cubic-bezier(0, 0, 0.15, 0.99),
    fillup 1.2s cubic-bezier(0, 0, 0.15, 0.99);
}

body[animated="true"] .stared .user_interaction.star_btn::after {
  animation: bounce 1.2s cubic-bezier(0, 0, 0.15, 0.99);
}

.stared .star_btn::before {
  content: url(../imgs/star_fill.svg);
  display: block;
  opacity: 0.6;
}

.read {
  background: var(--read-bg-color);
}

.selected {
  background: var(--selected_bg_color);
}

.story .title {
  display: inline;
  font-size: medium;
  font-size: 10.5pt;
  color: var(--text-high-color);
}

.story .hostname {
  display: inline;
  color: var(--text-color);
  font-size: 6.9pt;
}

.story .data {
  width: 100%;
  color: var(--text-color);
  font-size: 6.9pt;
  flex: 1 1 300px;
}

.story .info {
  margin: 5px 0;
}

.story .button_group {
  display: inline-flex;
}

.info .time {
  display: inline-flex;
  min-width: 65px;
}

.tags_container {
  display: inline-flex;
  flex-wrap: wrap;
}

.tags_container .tag {
  padding: 1px 4px;
  margin: 2px;
  border: thin solid var(--text-color);
  border-radius: 2px;
  opacity: 0.8;
}

.story .type {
  margin: 0;
  display: inline-block;
  width: 20px;
  text-align: center;
  padding: 1px;
  border: thin solid white;
  opacity: var(--opacity);
}

.story a {
  text-decoration-line: none;
  color: var(--text-color);
}

#right_panel {
  width: 50%;
  height: 100%;
  min-width: 20%;
  display: flex;
  flex-direction: column;
}

#tab_content {
  width: 100%;
  height: 100%;
}

#webtab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#webview {
  width: 100%;
  height: 100%;
  border: none;
}

.btn {
  border: thin solid black;
  cursor: pointer;
  padding: 2px;
  font-size: 13px;
  margin: 2px;
  border-radius: 2px;
  background: var(--btn-bg-color);
  user-select: none;
}

#menu .btn {
  margin: 2px 8px;
  padding: 2px;
}

.story .btn {
  height: 16px;
  box-sizing: content-box;
  white-space: nowrap;
}

.story .btn img {
  opacity: 0.6;
}

.bar_btn {
  padding: 3px;
  margin: 0;
  margin-left: 3px;
}

.bar_btn img {
  margin: 2px;
  margin-bottom: -1px;
}

.active img {
  filter: invert(42%) sepia(93%) saturate(252%) hue-rotate(87deg)
    brightness(119%) contrast(119%);
}

#menu_btn {
  font-size: 14px;
  padding: 3px;
  margin: 0;
  margin-left: -13px;
  margin-right: 3px;
}

#foverlay {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 5;
  display: none;
  opacity: 0.5;
}

.filtered {
  display: none;
}

.nomatch {
  display: none;
}

.show_filtered .filtered {
  display: flex;
}

.stored_star {
  display: none;
}

.show_stored_star:not(.show_filtered) .stored_star:not(.nomatch) {
  display: flex;
}

#settings_panel {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  display: none;
}

#settings_panel .bar {
  height: 28px;
}
#settings_panel .settings_title {
  font-size: 13px;
  margin-top: 7px;
}

.settings_container {
  height: 100%;
  overflow: scroll;
}

#settings_panel .settings_block {
  font-size: 13px;
  padding: 15px;
  margin: 5px;
  border-bottom: thin solid var(--border-color);
}

#settings_panel textarea {
  display: block;
  width: 95%;
  min-height: 200px;
  margin-bottom: 2px;
}

#settings_panel input[type="button"] {
  cursor: pointer;
}

#couch_input {
  display: block;
  width: 95%;
  margin-bottom: 2px;
}

#url_target {
  position: absolute;
  /* above slider */
  z-index: 16;
  background: var(--highlight-bg-color);
  border-bottom: thin solid var(--border-color);
  bottom: 0;
  font-size: 12px;
  padding: 3px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.5s ease-out, z-index 0.5s 0s;
}

#urlfield {
  padding-left: 8px;
}

#searchfield {
  margin-left: -65px;
  padding-left: 70px;
}

#cancel_search_btn {
  margin-left: -28px;
  visibility: hidden;
  border: none;
  border-left: thin solid black;
  background: none;
}

#search_scope {
  z-index: 2;
  border: none;
  border-right: thin solid black;
  background: none;
}

#tab_dropzone {
  height: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

#tab_dropzone::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

#tab_dropzone::-webkit-scrollbar-thumb {
  background: #0000008c;
  border: 1px solid grey;
}

#tab_dropzone .tab,
#tab_dropzone #addtab_button {
  min-width: 140px;
  border: thin solid var(--border-high-color);
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  margin-bottom: -5px;
  padding: 4px;
  height: 15px;
  overflow: hidden;
  cursor: pointer;
  margin-left: 2px;
  font-size: 13px;
  user-select: none;
}

#tab_dropzone .active {
  background: var(--border-high-color);
  cursor: pointer;
  margin-top: 2px;
}

#tab_dropzone #addtab_button {
  min-width: 10px;
}

.tab {
  display: flex;
}

.tab[media="started"] .tab_mediastate {
  width: 16px;
  background: url("../imgs/play.svg");
  display: block;
}

.tab[media="paused"] .tab_mediastate {
  width: 16px;
  background: url("../imgs/pause.svg");
  display: block;
}

.fullscreen #controlbar,
.fullscreen #sep_slider,
.fullscreen #left_panel,
.fullscreen #selected_container,
.fullscreen #tab_dropzone {
  display: none;
}

#selected_container:empty {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0000008c;
  border: 2px solid grey;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}
