html,
body {
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  font-family: Verdana, Geneva, sans-serif;
  user-select: none;
}

.active_drag * {
  pointer-events: none !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0000008c;
  border: 2px solid grey;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

/* Firefox scrollbar styling */
html,
body {
  scrollbar-width: thin;
  scrollbar-color: #0000008c transparent;
}

/* Generic Components */
.bar {
  border-bottom: thin solid var(--border-high-color);
  --base-bar-padding: 5px 15px;
  padding: var(--base-bar-padding);
}

.bar input {
  width: 100%;
}

.active img {
  filter: invert(42%) sepia(93%) saturate(252%) hue-rotate(87deg)
    brightness(119%) contrast(119%);
}
