#left_panel .bar {
  justify-content: space-between;
}

#menu .btn {
  --menu-menu-btn-margin: 2px var(--sp-2);
  margin: var(--menu-menu-btn-margin);
  --menu-menu-btn-padding: 2px;
  padding: var(--menu-menu-btn-padding);
}

.bar_btn {
  --menu-bar_btn-padding: 3px;
  padding: var(--menu-bar_btn-padding);
  margin: 0;
  --menu-bar_btn-margin-left: 3px;
  margin-left: var(--menu-bar_btn-margin-left);
}

.bar_btn img {
  --menu-bar_btn-margin: 2px;
  margin: var(--menu-bar_btn-margin);
  --menu-bar_btn-margin-bottom: -1px;
  margin-bottom: var(--menu-bar_btn-margin-bottom);
}

#menu_btn {
  font-size: var(--fs-body);
  --menu-menu_btn-padding: 3px;
  padding: var(--menu-menu_btn-padding);
  margin: 0;
  --menu-menu_btn-margin-left: -13px;
  margin-left: var(--menu-menu_btn-margin-left);
  --menu-menu_btn-margin-right: 3px;
  margin-right: var(--menu-menu_btn-margin-right);
}

#menu .sub {
  border-top: thin solid var(--border-high-color);
  cursor: pointer;
  --menu-menu-sub-font-size: 13px;
  font-size: var(--menu-menu-sub-font-size);
  display: flex;
  flex-direction: column;
}

#menu .heading {
  display: flex;
  --menu-menu-heading-padding: 5px;
  padding: var(--menu-menu-heading-padding);
}

#menu .heading p {
  --menu-menu-heading-padding-left: 3px;
  padding-left: var(--menu-menu-heading-padding-left);
  margin: 0;
}

#menu.collapse .heading p,
#menu.collapse .type,
#menu.collapse .group {
  display: none;
}

#menu.collapse {
  flex: 0 0 28px;
}
